<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mobile: +91 94661-17431</h2>
    <h2>Facebook: aashish.sharma.2005</h2>
    <h2>Instagram: aashish_sharma_112</h2>
    <h2>Email: aashishpandit112@gmail.com</h2>
    <h2>Linkedin: https://www.linkedin.com/in/aashish-sharma-112</h2>
</body>
</html>